*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #262626;
    padding-top: 175px;
}

.blinking-text {
    font-size: 200px;
    color: #484848;
    font-weight: 900;
    display: flex;
    justify-content: center;
}
.blinking-text span {
    position: relative;
    display: inline-block;
}
.blinking-text span::after {
    content: attr(data-letter);
    display: inline-block;
    position: absolute;
    left: 0;
    color: #fff900;
    text-shadow: 
    0 0 2px #fff900,
    0 0 10px #fff900;
    opacity: 0;
    animation: blinking 1.25s ease-in-out infinite;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.blinking-text span:nth-child(2)::after{animation-delay: 0.1s;}
.blinking-text span:nth-child(3)::after{animation-delay: 0.2s;}
.blinking-text span:nth-child(4)::after{animation-delay: 0.3s;}
